<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>MNI</title>
    <link rel="stylesheet" href="/mni/css/style.css">
    <link rel="stylesheet" href="/mni/css/font-awesome.min.css">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="img/icon.png">
    <style>
        .panel {
            width: 30%;
            height: 40%;
            border-radius: 10px;
            background-color: #b3b3b3;
            color: #000000;
            text-align: center;
            margin-top: 20px;
            margin-left: 20px;
            display: inline-block;
        }
    </style>
    <script src="/mni/js/mni.js"></script>
</head>

<body>
    <div class="icon-bar" id="icon-bar">
        <a nohref onmouseover="" style="cursor: pointer;" title="MarlinDT Network Intelligence"><img src="/favicon.ico"
                width="25%" height="25%"></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('dashboard');"
            title="Dashboard"><i class="fa fa-thermometer-half"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref class="active" title="Cables"><i class="fa fa-plug"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('duct');"
            title="Ducts"><i class="fa fa-superpowers"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('pole');"
            title="Poles"><i class="fa fa-arrows-v"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('ne');"
            title="Network Equipment"><i class="fa fa-server"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('rack');"
            title="Racks"><i class="fa fa-list-ol"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('site');"
            title="Sites"><i class="fa fa-building-o"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('service');"
            title="Services"><i class="fa fa-tty"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('trench');"
            title="Trenches"><i class="fa fa-arrows-h"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('trenchLifetime');"
            title="Trenches (lifetime)"><i class="fa fa-vine"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('q2c');"
            title="Quote-to-Cash"><i class="fa fa-shopping-basket"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('provider');"
            title="Providers"><i class="fa fa-handshake-o"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('alert');"
            title="Alerts"><i class="fa fa-bullhorn"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('setting');"
            title="Settings"><i class="fa fa-cog"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('openapi');"
            title="OpenAPI"><i class="fa fa-info-circle"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('help');"
            title="Help"><i class="fa fa-question-circle"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="logout();" title="Quit"><i
                class="fa fa-window-close"></i></a>
        <a nohref onmouseover="" style="cursor: pointer;" accesskey="h" onclick="toggleDiv('icon-bar');return false;"
            title="Toggle Bar | Mac <ctrl><opt>H | Windows: <alt><shift> |"><i class="fa fa-bars"></i></a>
    </div>
    <div class="panel" id="resourcePanel">
    </div>
    <div class="footer">
        <p>© 2024-2025 Merkator nv/sa. All rights reserved.</p>
    </div>
</body>

</html>