<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>MNI</title>
    <link rel="stylesheet" href="/mni/css/style.css">
    <link rel="stylesheet" href="/mni/css/font-awesome.min.css">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="img/icon.png">
    <style>
        .panel {
            background-color: #555;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
            color: #ffffff;
        }

        .loader {
            width: 50px;
            aspect-ratio: 1;
            display: grid;
            border: 4px solid #0000;
            border-radius: 50%;
            border-right-color: #25b09b;
            animation: l15 1s infinite linear;
        }

        .loader::before,
        .loader::after {
            content: "";
            grid-area: 1/1;
            margin: 2px;
            border: inherit;
            border-radius: 50%;
            animation: l15 2s infinite;
        }

        .loader::after {
            margin: 8px;
            animation-duration: 3s;
        }

        pre {
            color: #25b09b;
            font-family: monospace;
        }

        @keyframes l15 {
            100% {
                transform: rotate(1turn)
            }
        }
    </style>
    <script async src="/mni/js/mni.js"></script>
</head>

<body>
    <div class="icon-bar" id="icon-bar">
        <a class="active" nohref onmouseover="" style="cursor: pointer;" title="MarlinDT Network Intelligence"><img
                src="/favicon.ico" width="25%" height="25%"></a>
    </div>
    <div class="panel" id="readinessPanel">
        <div id="readiness"></div>
        <pre id="graffiti"></pre>
    </div>
    <div class="footer">
        <p>© 2024-2025 Merkator nv/sa. All rights reserved.</p>
    </div>
    <script>
        let ready = null;
        let attempt = 0;
        let maxAttempt = 10;
        document.getElementById("graffiti").innerHTML = String.fromCharCode(32, 95, 95, 32, 32, 95, 95, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 95, 32, 32, 32, 32, 32, 32, 32, 32, 32, 95, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 95, 95, 32, 32, 32, 32, 32, 32, 32, 32, 32, 10, 124, 32, 32, 92, 47, 32, 32, 124, 32, 95, 95, 95, 32, 95, 32, 95, 95, 124, 32, 124, 32, 95, 95, 95, 95, 32, 95, 124, 32, 124, 95, 32, 95, 95, 95, 32, 32, 95, 32, 95, 95, 32, 32, 32, 95, 32, 95, 95, 95, 95, 32, 32, 32, 95, 95, 47, 32, 47, 95, 95, 32, 32, 95, 95, 32, 95, 32, 10, 124, 32, 124, 92, 47, 124, 32, 124, 47, 32, 95, 32, 92, 32, 39, 95, 95, 124, 32, 124, 47, 32, 47, 32, 95, 96, 32, 124, 32, 95, 95, 47, 32, 95, 32, 92, 124, 32, 39, 95, 95, 124, 32, 124, 32, 39, 95, 32, 92, 32, 92, 32, 47, 32, 47, 32, 47, 32, 95, 95, 124, 47, 32, 95, 96, 32, 124, 10, 124, 32, 124, 32, 32, 124, 32, 124, 32, 32, 95, 95, 47, 32, 124, 32, 32, 124, 32, 32, 32, 60, 32, 40, 95, 124, 32, 124, 32, 124, 124, 32, 40, 95, 41, 32, 124, 32, 124, 32, 32, 32, 32, 124, 32, 124, 32, 124, 32, 92, 32, 86, 32, 47, 32, 47, 92, 95, 95, 32, 92, 32, 40, 95, 124, 32, 124, 10, 124, 95, 124, 32, 32, 124, 95, 124, 92, 95, 95, 95, 124, 95, 124, 32, 32, 124, 95, 124, 92, 95, 92, 95, 95, 44, 95, 124, 92, 95, 95, 92, 95, 95, 95, 47, 124, 95, 124, 32, 32, 32, 32, 124, 95, 124, 32, 124, 95, 124, 92, 95, 47, 95, 47, 32, 124, 95, 95, 95, 47, 92, 95, 95, 44, 95, 124, 10, 10);
        function readiness() {
            attempt++;
            let counter = ".".repeat(attempt);
            document.getElementById("readiness").innerHTML = `<center><div class="loader"></div>${counter}</center>`;
            fetch("<%=payload.gatewayUrl%>/api/readiness", {
                method: "GET",
                headers: {
                    "Accept": "application/json",
                },
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        if (attempt >= maxAttempt) { logout(); }
                        ready = setTimeout(readiness, 1000);
                    }
                })
                .then((data) => {
                    if (data?.point != null) {
                        let datePoint = new RegExp("^[0-9]{8}T[0-9]{6}$");
                        if (datePoint.test(data.point)) {
                            window.location.replace("<%=payload.rootUrl%>/dashboard");
                        } else {
                            if (attempt >= maxAttempt) { logout(); }
                            ready = setTimeout(readiness, 1000);
                        }
                    } else {
                        if (attempt >= maxAttempt) { logout(); }
                        ready = setTimeout(readiness, 1000);
                    }
                })
                .catch((e) => {
                    if (attempt >= maxAttempt) { logout(); }
                    ready = setTimeout(readiness, 1000);
                });
        }
        try {
            readiness();
        } catch (e) {
            notify(e);
            if (attempt >= maxAttempt) { logout(); }
            ready = setTimeout(readiness, 10000);
        }
    </script>
</body>

</html>