<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>MNI</title>
    <link rel="stylesheet" href="/mni/css/style.css">
    <link rel="stylesheet" href="/mni/css/font-awesome.min.css">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="img/icon.png">
    <style>
        .panel {
            width: 30%;
            height: 40%;
            border-radius: 10px;
            background-color: #b3b3b3;
            color: #000000;
            text-align: center;
            margin-top: 20px;
            margin-left: 20px;
            display: inline-block;
        }

        #content {
            position: relative;
        }

        .customer {
            border: 1px solid #ffffff;
            background-color: #0000ff;
            position: absolute;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            font-size: 0.7em;
            color: white;
            word-wrap: break-word;
        }

        .ne {
            border: 1px solid #ffffff;
            background-color: #b3b3b3;
            position: absolute;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            font-size: 0.7em;
            color: #000000;
            word-wrap: break-word;
        }

        .port {
            border: 1px solid #ffffff;
            background-color: #b3b3b3;
            position: absolute;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            font-size: 0.7em;
            color: #000000;
        }

        #customer1 {
            left: 50px;
            top: 100px;
            width: 50px;
            height: 50px;
        }

        #customer2 {
            left: 50px;
            top: 200px;
            width: 50px;
            height: 50px;
        }

        #customer3 {
            left: 50px;
            top: 300px;
            width: 50px;
            height: 50px;
        }

        #customer4 {
            left: 50px;
            top: 400px;
            width: 50px;
            height: 50px;
        }

        #customer5 {
            left: 50px;
            top: 500px;
            width: 50px;
            height: 50px;
        }

        #customer6 {
            left: 50px;
            top: 600px;
            width: 50px;
            height: 50px;
        }

        #ingress {
            left: 200px;
            top: 200px;
            width: 50px;
            height: 50px;
        }

        #ingress1 {
            left: 150px;
            top: 100px;
            width: 30px;
            height: 30px;
        }

        #ingress2 {
            left: 150px;
            top: 200px;
            width: 30px;
            height: 30px;
        }

        #ingress3 {
            left: 150px;
            top: 300px;
            width: 30px;
            height: 30px;
        }

        #ingress4 {
            left: 150px;
            top: 400px;
            width: 30px;
            height: 30px;
        }

        #ingress5 {
            left: 150px;
            top: 500px;
            width: 30px;
            height: 30px;
        }

        #ingress6 {
            left: 150px;
            top: 600px;
            width: 30px;
            height: 30px;
        }

        #ingress {
            left: 300px;
            top: 200px;
            width: 50px;
            height: 50px;
        }

        #egress1 {
            left: 400px;
            top: 100px;
            width: 30px;
            height: 30px;
        }

        #egress2 {
            left: 400px;
            top: 200px;
            width: 30px;
            height: 30px;
        }

        #egress3 {
            left: 400px;
            top: 300px;
            width: 30px;
            height: 30px;
        }

        #egress4 {
            left: 400px;
            top: 400px;
            width: 30px;
            height: 30px;
        }

        #egress5 {
            left: 400px;
            top: 500px;
            width: 30px;
            height: 30px;
        }

        #egress6 {
            left: 400px;
            top: 600px;
            width: 30px;
            height: 30px;
        }

        #nextHop1 {
            left: 500px;
            top: 100px;
            width: 30px;
            height: 30px;
        }

        #nextHop2 {
            left: 500px;
            top: 200px;
            width: 30px;
            height: 30px;
        }

        #nextHop3 {
            left: 500px;
            top: 300px;
            width: 30px;
            height: 30px;
        }

        #nextHop4 {
            left: 500px;
            top: 400px;
            width: 30px;
            height: 30px;
        }

        #nextHop5 {
            left: 500px;
            top: 500px;
            width: 30px;
            height: 30px;
        }

        #nextHop6 {
            left: 500px;
            top: 600px;
            width: 30px;
            height: 30px;
        }

        .xConnect {
            position: absolute;
            width: 4px;
            background-color: #ffffff;
            text-align: center;
        }

        .cable {
            position: absolute;
            width: 1px;
            background-color: #ffffff;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            font-size: 0.7em;
            color: #ffffff;
        }
    </style>
    <script src="/mni/js/mni.js"></script>
</head>

<body>
    <div class="icon-bar" id="icon-bar">
        <a nohref onmouseover="" style="cursor: pointer;" title="MarlinDT Network Intelligence"><img src="/favicon.ico"
                width="25%" height="25%"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('dashboard');"
            title="Dashboard"><i class="fa fa-thermometer-half"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('cable');"
            title="Cables"><i class="fa fa-plug"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('duct');"
            title="Ducts"><i class="fa fa-superpowers"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('pole');"
            title="Poles"><i class="fa fa-arrows-v"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('ne');"
            title="Network Equipment"><i class="fa fa-server"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('rack');"
            title="Racks"><i class="fa fa-list-ol"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('site');"
            title="Sites"><i class="fa fa-building-o"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref class="active" title="ports"><i class="fa fa-tty"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('trench');"
            title="Trenches"><i class="fa fa-arrows-h"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('trenchLifetime');"
            title="Trenches (lifetime)"><i class="fa fa-vine"></i></a>
         <a onmouseover="" style="cursor: pointer" nohref onclick="return menuJump('trenchCountry');" title="Trenches (country)" ><i class="fa fa-globe"></i ></a>
          <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('q2c');" title="Quote-to-Cash"><i class="fa fa-shopping-basket"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('provider');"
            title="Providers"><i class="fa fa-handshake-o"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('alert');"
            title="Alerts"><i class="fa fa-bullhorn"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('setting');"
            title="Settings"><i class="fa fa-cog"></i></a>
       <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('openapi');"
            title="OpenAPI"><i class="fa fa-info-circle"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return menuJump('help');"
            title="Help"><i class="fa fa-question-circle"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="logout();" title="Quit"><i
                class="fa fa-window-close"></i></a>
        <select id="country" onchange="if(this.selectedIndex !== undefined) fetchListService();"></select>
    </div>
    <div class="panel" id="servicePanel">
        <div id="customer1" class="customer">ABC</div>
        <div id="customer1Cable1" class="cable"></div>
        <div id="customer1Cable2" class="cable"></div>
        <div id="customer2" class="customer">DEF</div>
        <div id="customer2Cable1" class="cable"></div>
        <div id="customer2Cable2" class="cable"></div>
        <div id="ingress" class="ne">gbr-worc-cg1-01</div>
        <div id="ingress1" class="port" title="VDSL 0/0/0">1</div>
        <div id="ingressCable1" class="cable"></div>
        <div id="ingress2" class="port" title="VDSL 0/0/1">2</div>
        <div id="ingressCable2" class="cable"></div>
        <div id="ingress3" class="port" title="VDSL 0/1/0">3</div>
        <div id="ingressCable3" class="cable"></div>
        <div id="ingress4" class="port" title="VDSL 0/1/1">4</div>
        <div id="ingressCable4" class="cable"></div>
        <div id="egress1" class="port" title="GigaEthernet0/0/0">5</div>
        <div id="egressCable1" class="cable"></div>
        <div id="egress2" class="port" title="GigaEthernet0/0/1">6</div>
        <div id="egressCable2" class="cable"></div>
        <div id="nextHopCable1" class="cable"></div>
        <div id="nextHopCable2" class="cable"></div>
        <div id="nextHop1" class="ne">next hop</div>
        <div id="nextHop2" class="ne">next hop</div>
    </div>
    <div class="footer">
        <p>© 2024-2025 Merkator nv/sa. All rights reserved.</p>
    </div>
    <script defer="defer" src="/mni/js/mni-service.js"></script>
</body>

</html>
