[Unit]
Description=MNI API Gateway
After=multi-user.target

[Service]
UMask=007
Type=simple
User=apigw
Group=mni
Restart=always
AmbientCapabilities=CAP_NET_BIND_SERVICE
WorkingDirectory=/usr/local/mni/apiGateway
StandardOutput=append:/var/log/mni/apiGateway.log
StandardError=append:/var/log/mni/apiGateway.log
ExecStart=/usr/local/mni/apiGateway/bin/apigw run -c /usr/local/mni/apiGateway/config/apiGateway.json

[Install]
WantedBy=multi-user.target
