# Cowdrey Consulting
# Network Insight (NI) OpenAPI generate

trigger:
  paths:
    include:
    - 'api/ni.yaml'
    exclude:
    - api/ni.json
    - docs/ni.html

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self
  persistCredentials: true
- script: |
    curl -L --output yq "https://github.com/mikefarah/yq/releases/download/v4.45.1/yq_linux_amd64" && \
    chmod 700 ./yq
  displayName: 'Install YQ'
  workingDirectory: $(System.DefaultWorkingDirectory)
- script: which node &>/dev/null || sudo apt install -y nodejs
  displayName: 'Install NodeJS'
  workingDirectory: $(System.DefaultWorkingDirectory)
- script: |
    git config --global user.email "pipeline@azure.com"
    git config --global user.name "Azure DevOps"
  displayName: 'Git Config'
  workingDirectory: $(System.DefaultWorkingDirectory)
- script: git checkout -b main
  displayName: 'Git Checkout'
  workingDirectory: $(System.DefaultWorkingDirectory)
- script: |
    git pull --set-upstream origin main
    ./yq "." -o=json api/ni.yaml > api/ni.json
    git diff --quiet api/ni.json &>/dev/null || git add -f api/ni.json
  displayName: 'OpenAPI Generate JSON'
  workingDirectory: $(System.DefaultWorkingDirectory)
- script: |
    git pull --set-upstream origin main
    npx -y @redocly/cli@latest build-docs api/ni.yaml -o docs/ni.html
    git diff --quiet docs/ni.html &>/dev/null || git add -f docs/ni.html
  displayName: 'OpenAPI Generate HTML'
  workingDirectory: $(System.DefaultWorkingDirectory)
- script: |
    [[ -f "./yq" ]] && rm -f ./yq &>/dev/null
  displayName: 'Uninstall YQ'
  workingDirectory: $(System.DefaultWorkingDirectory)
- script: |
    git status
    git commit -m "pipeline@azure.com: OpenAPI Generate $(Build.BuildNumber)"
    git pull --set-upstream origin main --rebase
    git push --set-upstream origin main 
  displayName: 'Git Commit/Push'
  workingDirectory: $(System.DefaultWorkingDirectory)
