[Unit]
Description=MNI Fetch Service
After=multi-user.target

[Service]
UMask=007
Environment=NODE_ENV=production
ExecStart=/usr/bin/node --run start
Group=mni
LimitNOFILE=infinity
Restart=on-failure
StandardError=append:/var/log/mni/fetch.log
StandardOutput=append:/var/log/mni/fetch.log
Type=simple
User=mnialert
WorkingDirectory=/usr/local/mni/fetch

[Install]
WantedBy=multi-user.target
