[Unit]
Description=MNI Fetch Server
After=multi-user.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment=NODE_ENV=production
ExecStart=/usr/bin/node --run start
Group=mni
LimitNOFILE=infinity
Restart=always
StandardError=append:/var/log/mni/fetchServer.log
StandardOutput=append:/var/log/mni/fetchServer.log
Type=simple
User=alertserver
WorkingDirectory=/usr/local/mni/fetchServer

[Install]
WantedBy=multi-user.target
