[Unit]
Description=Identity and Access Management Server
Requires=docker.service
After=docker.service

[Service]
Type=simple
User=mniuam
Group=mni
Restart=always
AmbientCapabilities=CAP_NET_BIND_SERVICE
WorkingDirectory=/usr/local/mni/iam
StandardOutput=append:/var/log/mni/iam.log
StandardError=append:/var/log/mni/iam.log
ExecStart=/usr/bin/docker-compose start
ExecStop=/usr/bin/docker-compose stop

[Install]
WantedBy=multi-user.target