[Unit]
Description=MNI Predict Server
After=multi-user.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment=NODE_ENV=production
ExecStart=/usr/bin/node --run start
Group=mni
LimitNOFILE=infinity
Restart=always
StandardError=append:/var/log/mni/predictServer.log
StandardOutput=append:/var/log/mni/predictServer.log
Type=simple
User=predict
WorkingDirectory=/usr/local/mni/predictServer

[Install]
WantedBy=multi-user.target
